{% extends "base.html" %}

{% block content %}
<h1 class="display-4 mt-5">Authors detail: {{ author.name }}</h1>
<div class="row">

    {% for book in author.book_set.all %}

    <div class="col-4">
        <div class="card mb-2" >
            <div class="card-body">
                <h5 class="card-title">{{ book.name }}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ book.pages }} pages</li>
                <li class="list-group-item">rating: {{ book.rating }}</li>
                <li class="list-group-item">{{ book.pubdate }}</li>
            </ul>
        </div>
    </div>


    {% endfor %}

</div>


{% endblock %}